# Django Configuration
DEBUG=False
SECRET_KEY=tu-secret-key-aqui
ALLOWED_HOSTS=localhost,127.0.0.1,tudominio.com

# Database (opcional si usas PostgreSQL en producción)
# DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/instagram
